<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<table>
  <tr>
    <th th:each="field : ${fieldsList}" th:text="${field.getName()}"></th>
  </tr>
  <tr th:each="entity : ${entities}">
    <td th:each="field : ${fieldsList}" th:text="${field.get(entity)}"></td>
  </tr>
</table>
</body>
</html>
